body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px #aaa;
  }
  nav div {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: row-reverse;
  }
  nav div span {
    background-color: #222;
    height: 2px;
    width: 1.5rem;
    display: block;
  }
  @media screen and (min-width: 40em) {
    nav div {
      align-items: center;
    }
  }
  nav div input[type=checkbox] {
    display: none;
  }
  nav div input[type=checkbox]:checked + ul {
    display: flex;
  }
  
  nav div ul {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  @media screen and (min-width: 40em) {
    nav div ul {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }
  
  nav div ul li {
    text-align: center;
  }
  nav div ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #222;
    line-height: 1rem;
  }
  nav div ul li a :hover {
    background-color: #efefef;
  }
  
  nav div input[type=checkbox] {
    display: none;
  }
  
  nav div input[type=checkbox]:checked + ul {
    display: flex;
  }
  
  nav div label {
    display: flex;
    padding: 0.75rem;
    cursor: pointer;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 40em) {
    nav div label {
      display: none;
    }
  }
.pur-icon{
    width: 140px;
    height: 75px;
}
a:hover{
    background-color: #efefef;
}
.kep{
  margin-top: 50px;
  margin: 0;
  padding: 200px;
  background-image: url(../img/szocsheaderkep.jpeg);
  background-size: cover;
  height: 200px;
  width: 1500px;
  position:relative;
  background-repeat: no-repeat;
}
.haegy{
  padding-top: 25px;
  color: black;
  font-size: 15;
  
}
.parag{
  color: black;
  font-size: 10;
}

.kepbox{
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  
  height: 300px;
  width: 300px;
}
.btn{
  display: inline-block;
  background-color:rgb(114, 114, 114);
  color: #6d4343;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.btn  {
  color: white;
}

.btn:hover {
  background-color: #ad9d9d;
  
}


.btn {
  background-color: #00897b;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
}
.row-layout {
  display: flex;          
  gap: 30px;             
  padding: 20px;
  align-items: stretch;   
}

.box {
  flex: 1;                
  border-radius: 20px;    
  overflow: hidden;       
  background-color: #fff; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}


.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #fcfcfc; 
}
.container{
  margin: 0 auto;
  max-width: var(--width);
  padding: 0 var(--p-container);
}
.label{
  background-color: #dbfae2;
  display: inline-flex;
  font-size: var(--text);
  letter-spacing: 1px;
  padding: 4px 9px;
  text-transform: uppercase;
  transform: skew(-8deg);
  transform-origin: center center;
  margin-left: 100px;
}
.proof-inner{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  color: #235949;
  font-family: Big Shoulders Text, serif;
  font-size: 63px;
}

.proof-item{
  justify-self: center;
  padding-right: 2rem;
  position: relative;
}
.proof-nr{
  color: #235949;
  font-family: Big Shoulders Text, serif;
  font-size: 63px;
  letter-spacing: 3px;
}
p.body-text{
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.6;
  opacity: .9;
  padding-top: 1rem;
}
.pur-legal-copyright{
  font-size: 15px;
  font-weight: 400px;
  line-height: 1.2;
  letter-spacing: 0;
  border: black 2px solid;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  margin-left: 39%;
  margin-right: 39%;
}
.pur-social-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pur-social-list{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.pur-social-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 4s ease-in-out;
}
.icon{
  width: 40px;
  height: 40px;
}
.big-icon{
  width: 50px;
  height: 50px;
}
  
  /*# sourceMappingURL=sytle.css.map */
  